# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ConnBdDao/target/
/JunitProves/target/
/dbprojecte/target/
/practicaTest/target/
/primerMaven/target/
/segonMaven/target/
/JunitProves/nbproject/
/practicaTest/nbproject/
/primerWeb/target/
/clienteJava/target/
/web1/target/
/prWeb/target/
/clientJava/target/
/formServlet/target/
/pruebaPersistencia/target/
/EjemploRestUno/target/
/EjemploRestCliente/target/
/servlets/target/
/exericiciServlets/target/
/primero/target/
/exerciciHibernate/target/